<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <meta name="author" content="Daniel Rodriguez">
    
    <title>{% block title %}{%endblock%} | {{ SITENAME }}</title>
    
    <link href="{{ SITEURL }}/{{ FEED }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} ATOM Feed" />

    {% block extra_css %}{% endblock %}
    {% assets filters="cleancss", output="css/assets.min.css", "css/normalize.css", "css/fonts/proximanova.css", "css/fonts/adelle.css", "css/fonts/font-awesome.min.css" %}
      <link rel="stylesheet" href="/{{ ASSET_URL }}">
    {% endassets %}
    {% assets filters="less,cleancss", output="css/main.css", "css/main.less" %}
      <link rel="stylesheet" href="/{{ ASSET_URL }}">
    {% endassets %}
</head>

<body>

<aside class='fixed'>
  {% if article and article.featured_img %}
    <div class="image" style="background-image: url('{{ article.featured_img }}')"></div>
    <!-- <img src="{{ article.featured_img }}"> -->
  {% else %}
    <div class="image" style="background-image: url('/static/images/posters/plane.jpg')"></div>
    <!-- <img src="/static/images/posters/planes.jpg"> -->
  {% endif %}

  <div class="body">
    <div class="middle">
      {% block sidebar %}{% endblock %}
    </div>
    <div class="bottom">
      <p>
        <a href="/"><i class="icon-home"></i> home</a> | 
        <a href="/about/"><i class="icon-user"></i> about</a> | 
        <a href="/archives.html"><i class="icon-book"></i> archive</a> | 
        <a href="/tags.html"><i class="icon-tags"></i> tags</a>
      </p>
      <p>
        <a href="https://twitter.com/danielfrg"><i class="icon-twitter"></i> @danielfrg</a> | 
        <a href="https://github.com/danielfrg"><i class="icon-github-alt"></i> on github</a> | 
        <a href="mailto:df.rodriguez143@gmail.com"><i class="icon-envelope-alt"></i> email</a>
      </p>
    </div>
  </div>
</aside>

<div class="content">
  {% block content %}{% endblock %}
</div>
{% include 'analytics.html' %}
</body>
</html>
