{% extends "base.html" %}
{% block title %}Random thoughts about data analysis, python, and more{% endblock %}

{% block content %}
<div class="index">
  {% for article in articles %}
    <article class='post-preview'>
      <header>
        <a href="{{ SITEURL }}/{{ article.url }}">
          <h2 class="entry-title">{{ article.title }}</h2>
        </a>
      </header>
      <div class="preview">
        <a href="{{ SITEURL }}/{{ article.url }}">
        <p>{{ article.content | striptags | truncate(600) }}</p>
        </a>
      </div>
    </article>
  {% endfor %}
</div>
{% endblock %}
