{% extends "base.html" %}
{% block title %}{{ article.title }}{% endblock %}

{% block extra_css %}
    {% if article.ipython %}
        <link rel="stylesheet" href="/theme/css/ipython.min.css">
    {% endif %}
    {% if article.code %}
        <link rel="stylesheet" href="/theme/css/pygments.min.css">
    {% endif %}
{% endblock %}

{% block content %}
<div class="post">
<article class='post'>
    <header>
        <h1>{{ article.title }}</h1>
    </header>
    <div class='post-content'>
        {{ article.content }}
    </div>
</article>
</div>
{% endblock %}

{% block sidebar %}
    <div class="metadata">
        <p>
            <strong>Written by: </strong>
            <i><a href="{{ SITEURL }}/{{ article.author.url }}">{{ article.author }}</a></i>
        </p>
        <p>
            <strong>Published:</strong>
            <i><time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time></i>
        </p>
        <p>
            <strong>In:</strong>
            <i><a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a></i>
        </p>
        <p>
            {% if article.tags %}
                <strong>Tags:</strong> 
                {% for tag in article.tags %}<i><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a> </i>{% endfor %}
            {% endif %}
        </p>
    </div>
{% endblock %}

{% block footer %}
<section class='footer'>
    <div class="post social container row-fluid">
        <div class="span3">
            <div class="fb-like" data-send="false" data-layout="button_count" data-show-faces="false"></div>
        </div>
        <div class="span3">
            <a href="https://twitter.com/share" class="twitter-share-button" data-via="danielfrg">Tweet</a>
        </div>

        <div class="span3">
            <div class="g-plusone" data-size="medium" data-annotation="bubble"></div>
        </div>

        <div class="span3 hn">
            <span id="hnews"></span>
        </div>
    </div>

    <div id="disqus_thread" class="comments container"></div>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
</section>

<script src="/theme/js/social.js"></script>
{% endblock %}


