<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block title %}{%endblock%} | {{ SITENAME }}</title>
        <meta name="author" content="{{ AUTHOR }}">
        <meta name="description" content="{% block description %}{%endblock%}">
        <meta name="viewport" content="width=device-width">

        <link rel="alternate" type="application/atom+xml" title="{{SITENAME}} blog atom feed" href="/feeds/all.atom.xml" />

        <link rel="stylesheet" href="/theme/css/normalize.min.css">
        <link rel="stylesheet" href="/theme/css/fonts/proximanova.css">
        <link rel="stylesheet" href="/theme/css/fonts/ss-social.css">
        <link rel="stylesheet" href="/theme/css/fonts/ss-standard.css">
        <link rel="stylesheet" href="/theme/css/pygments.css">
        <link rel="stylesheet" href="/theme/css/main.css">
    </head>

    <body>
        <div class="header">
            <div class="navbar">
                <a href="/" class="ss-icon" title="home">home</a>
                <a href="/tags.html" class="ss-icon" title="tags">tag</a>
                {% if ABOUTME_USERNAME is defined %}
                    <a href="http://about.me/{{ABOUTME_USERNAME}}" class="ss-icon" title="about">user</a>
                {% endif %}

                {% if TWITTER_USERNAME is defined %}
                    <a href="http://twitter.com/{{TWITTER_USERNAME}}" class="ss-icon ss-social" title="on twitter">twitter</a>
                {% endif %}

                {% if GITHUB_USERNAME is defined %}
                <a href="http://github.com/{{GITHUB_USERNAME}}" class="ss-icon ss-social" title="on github">octocat</a>
                {% endif %}

                {% if SHOW_FEED %}
                <a href="/feeds/all.atom.xml" class="ss-icon ss-social" title="rss feed">rss</a>
                {% endif %}

                {% if EMAIL_ADDRESS is defined %}
                <a href="mailto:{{EMAIL_ADDRESS}}" class="ss-icon" title="email me">mail</a>
                {% endif %}
            </div>
        </div>

        <div id="content">
            {% block content %}{% endblock %}
        </div>

        <footer>
            {% block footer %}{% endblock %}
        </footer>

        {% include 'analytics.html' %}
    </body>
</html>
