{% extends "base.html" %}
{% block title %}Thoughts about coding, data science, data analysis, python and more{% endblock %}

{% block content %}
<div class="index page-list">
  <p class='first'>
    This blog is written by <i>Daniel Rodriguez</i>. Here he talks about coding, <strike>data analysis</strike> data science, python and his projects.
  </p>
  <p class="second">
    But you can also read less boring stuff he writes on his <a href="http://atdanielfrg.tumblr.com" class="ss-icon ss-social" title="my thoughs on tumblr">tumblr</a> where he briefly talks about movies, tv and other topics. If you are intereted can follow him on <a href="http://twitter.com/danielfrg" class="ss-icon ss-social" title="on twitter">twitter</a>. But if you like the stuff here be sure to check out his <a href="http://github.com/danielfrg" class="ss-icon ss-social" title="on github">octocat</a>. Finally if you are desperate can send him an <a href="mailto:df.rodriguez143@gmail.com" class="ss-icon" title="email me">mail</a>.
  </p>
  <h1>Posts:</h1>
  <ul>
  {% for article in articles %}
    <li>
      <a href="{{ SITEURL }}/{{ article.url }}">
        <!-- <h2>{{ article.title }}</h2> -->
        {{ article.title }}
        <span>[ {{ article.locale_date }} ]</span>
      </a>
    </li>
  {% endfor %}
  </ul>
</div>
{% endblock %}
