---
layout: default
title: Random thoughts about data analysis, python, and more
desc: Python, Javascript examples and tutorials for data analysis.
---

<div id="content" class="index">
  <div class="container">
  {% for post in site.posts %}
    <div class='post-box'>

      {% if post.featured_image %}
        <div class="featured-image">
          <a href="{{ post.url }}">
            <div class="image" style="background-image: url({{post.featured_image}});
              {% if post.featured_height %} height:{{post.featured_height}}; {% endif %}">
            </div>
          </a>
        </div>
      {% endif %}

      {% if post.featured_youtube %}
        <div class="video">
          <iframe width="100%"
          height="{% if post.featured_height %}{{post.featured_height}}{% else %}80%{% endif %}"
          src="http://www.youtube.com/embed/{{post.featured_youtube}}?html5=1" frameborder="0" allowfullscreen></iframe>
        </div>
      {% endif %}

      {% if post.featured_vimeo %}
        <div class="video">
          <iframe src="http://player.vimeo.com/video/{{post.featured_vimeo}}" width="100%"
          height="{% if post.featured_height %}{{post.featured_height}}{% else %}80%{% endif %}"
          frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        </div>
      {% endif %}

      <div class='preview'>
        <!-- <div class="post-date">{{ post.date | date: "%B %e, %Y" }}</div> -->
        <a href="{{ post.url }}" class="entry-title"><h2>{{ post.title }}</h2></a>
        <p>{{ post.content | strip_html | truncatewords: 100 }}</p>
        <a href="{{ post.url }}" class="more-link">Read more </a>
      </div>
  </div>
  {% endfor %}
  </div>
</div>


