{% extends "base.html" %}
{% block title %}Thoughts about coding, data science, data analysis, python and more{% endblock %}

{% block content %}
<div class="index page-list">
  <p class='first'>
    OK, you did it. this pages not suposed to be found. You probably had the wrong URL. But if you are sure is my fault please send me a message -> <a href="mailto:df.rodriguez143@gmail.com" class="ss-icon" title="email me">mail</a>.
  </p>
  <h1>Posts:</h1>
  <ul>
  {% for article in articles %}
    <li>
      <a href="{{ SITEURL }}/{{ article.url }}">
        <!-- <h2>{{ article.title }}</h2> -->
        {{ article.title }}
        <span>[ {{ article.locale_date }} ]</span>
      </a>
    </li>
  {% endfor %}
  </ul>
</div>
{% endblock %}
