body {
    margin: 0;
    color: #333;
    font-size: 15px;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 23px;
    text-align: justify;
    height: 100%;
}

a {
    color: #307EA9;
    text-decoration: none;
}

a:hover {
    color: #333;
    text-decoration: none;
}

a.no-color {
    color: #333;
}

h1 {
    font-weight: normal;
    font-size: 40px;
    line-height: 1.24;
    color: #000;
}

h2 {
    margin: 15px -30px 15px -30px;
    padding: 15px 30px 15px 23px;
    border-left: 5px solid #57ad68;
    font-weight: 400;
    font-size: 26px;
    color: #444;
}

h2.entry-title {
    margin: 0;
    padding: 0;
    border-left: none;
    font-size: 26px;
    line-height: 25px;
    color: #444;
    margin-bottom: 8px;
}

h3 {
    margin: 15px -30px 15px -30px;
    padding: 15px 30px 15px 23px;
    border-left: 3px solid #57ad68;
    font-weight: 400;
    font-size: 26px;
    color: #444;
}

ul {
    list-style: square;
}

.codehilite {
    pre {
        font-size: 14px;
        background: #222222;
        page-break-inside: avoid;
        word-wrap: break-word;
    }
}

.ipynb {
    // iPython hacks
    .text_cell_render {
        color: #333;
        font-size: 15px;
        line-height: 23px;
        font-family: Helvetica, Arial, sans-serif;
    }

    .text_cell_render{
        font-size: 15px;
        line-height: 23px;
        text-align: justify;
        font-family: Helvetica, Arial, sans-serif;
    }
}

#content {
    margin: 40px auto;
    position: relative;
    max-width: 670px;

    .wrapper {
    }

    .sidebar {
        text-align: left;
        color: #666;
        position: absolute;
        width: 205px;
        margin-left: -230px;
        top: 0;
        font-size: 13px;

        img {
            width: 100%;
            background: #ccc;
            border: 1px solid #ccc;
        }

        .metadata {
            margin-bottom: 15px;
            padding-bottom: 15px;
            border-bottom: 1px solid #dededc;
        }

        .nav {
            ul{
                padding: 0;
                list-style: none;

                a {
                    color: #666 !important;
                }

                a:hover {
                    text-decoration: underline  !important;
                }
            }
        }
    }
}

.index {
    .post-preview {
        padding-bottom: 15px;
        margin-bottom: 30px;
        border-bottom: 1px solid #e1e1e1;
    }
}

.page-list {
    ul {
        margin: 0;
        li {
            list-style: none;
            padding: 7px 2px;
            border-bottom: 1px solid #eee;

            span {
                padding-top: 3px;
                float: right;
                text-transform: uppercase;
                font-size: 12px;
                color: #999;
            }
        }
    }
}

.footer {
    clear: both;
    position: relative;
    background: #333;
    padding: 15px;

    .social {
        margin: 0px auto;
        width: 90%;
        max-width: 670px;
        max-width: 670px;

        .span3 {
            width: 23.404255319148934%;
            float: left;
        }

        .hn iframe {
            margin:-9px 0 0 -8px;
            border: none;
        }
    }

    .comments {
        margin: 15px auto;
        width: 80%;
        max-width: 950px;
        padding-top: 40px;
    }
}