<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <meta name="author" content="Daniel Rodriguez" />
    <title>{% block title %}{%endblock%} | {{ SITENAME }}</title>

    <link href="{{ SITEURL }}/{{ FEED }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} ATOM Feed" />
    <link rel="stylesheet" href="/theme/css/fonts/ss-social.css">
    <link rel="stylesheet" href="/theme/css/bootstrap.min.css">
    {% block extra_css %}{%endblock%}
    {% assets filters="less", output="css/main.css", "css/main.less" %}
    <link rel="stylesheet" href="/theme/css/main.css">
    {% endassets %}
</head>

<body>
<a class='github-ribbon' href="https://github.com/danielfrg"><img style="z-index: 2000; position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <ul class="nav left">
        <li>
          <a href="/index.html">Blog</a>
        </li>
        <li>
          <a href="/about/">About</a>
        </li>
         <li>
          <a href="/archives.html">Archive</a>
        </li>
      </ul>

      <ul class="nav right">
        <li><a href="https://twitter.com/danielfrg" class="ss-icon ss-social-circle">twitter</a></li>
        <li><a href="https://github.com/danielfrg" class="ss-icon ss-social-circle">github</a></li>
        <li><a href="mailto:df.rodriguez143@gmail.com?Subject=Hello" class="ss-icon ss-social-circle">mail</a></li>
      </ul>
    </div>
  </div>
</div>

<div id="content">{% block content %}{% endblock %}</div>

<footer class="footer">
  <div class="container">
    <ul>
      <li>Designed &amp; Written by Daniel Rodriguez</li>
      <li class="muted">&middot;</li>
      <li>Powered by <a href="http://getpelican.com/">Pelican</a></li>
      <li class="muted">&middot;</li>
      <li>Licensed under <a href="http://creativecommons.org">Creative Commons</a>.</li>
    </ul>
  </div>
</footer>

{% include 'analytics.html' %}
</body>
</html>
