@import "fonts/segoeui.css";

@import "fonts/font-awesome.min.css";
body {
  width: 100%;
  height: 100%;
  color: #333333;
  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
}
p {
  font-size: 16px;
  line-height: 26px;
  text-align: justify;
}
a {
  color: #307EA9;
  text-decoration: none !important;
}
a:hover {
  color: #000;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #444;
  letter-spacing: -1px;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 200;
  line-height: 40px;
}
h1 {
  font-size: 42px;
  margin: 0;
}
h2 {
  padding: 15px 25px 15px 25px;
  border-left: 5px solid #ff6e00;
  border-right: 5px solid #ff6e00;
  font-size: 28px;
}
h2.entry-title {
  border: none;
  padding: 0;
  margin: 0;
  font-size: 33px;
}
h3 {
  padding: 5px 25px 5px 25px;
  border-left: 5px solid #ff6e00;
  border-right: 5px solid #ff6e00;
  font-size: 20px;
}
ul {
  list-style: square;
}
ul li {
  font-size: 16px;
  line-height: 26px;
}
code {
  padding: 2px 4px;
  white-space: nowrap;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  font-size: 15px;
}
.codehilite pre {
  padding: 7px;
  line-height: 16px;
  background: #222222;
  page-break-inside: avoid;
  word-wrap: break-word;
}
.wrapper {
  margin: 35px auto;
  position: relative;
  width: 89%;
  max-width: 640px;
}
.wrapper .sidebar {
  color: #666;
  position: absolute;
  top: 0;
  width: 210px;
  margin-left: -230px;
  font-size: 13px;
  background: #f3f3f3 !important;
  border: 1px solid #e0e0e0;
}
.wrapper .sidebar p {
  text-align: left;
  font-size: 13px;
  line-height: 23px;
  margin: 0;
}
.wrapper .sidebar img {
  width: 100%;
}
.wrapper .sidebar .metadata {
  margin: 5px 5px 15px 5px;
  padding-bottom: 15px;
  border-bottom: 1px solid #dededc;
}
.wrapper .sidebar .nav {
  margin: 5px 5px 15px 25px;
}
.wrapper .sidebar .nav ul {
  padding: 0;
  list-style: none;
}
.wrapper .sidebar .nav ul li {
  font-size: 13px !important;
}
.wrapper .sidebar .nav ul a {
  color: #666 !important;
}
.wrapper .sidebar .nav ul a:hover {
  text-decoration: underline  !important;
}
.index article {
  border-bottom: 1px solid #dededc;
  margin-bottom: 10px;
  padding-bottom: 0px;
}
.index article .preview a {
  color: #333333;
  text-decoration: none;
}
.post article img {
  width: 100%;
  border: 1px solid #ccc;
}
.page-list ul {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
}
.page-list ul li {
  list-style: none;
  padding: 7px 2px;
  border-bottom: 1px solid #eee;
  font-size: 14px;
}
.page-list ul li span {
  padding-top: 3px;
  float: right;
  text-transform: uppercase;
  font-size: 12px;
  color: #999;
}
.footer {
  clear: both;
  position: relative;
  background: #333;
}
.footer .social {
  margin: 0px auto;
  padding-top: 15px;
  width: 90%;
  max-width: 670px;
}
.footer .social .span3 {
  width: 23.404255319148934%;
  float: left;
}
.footer .social .hn iframe {
  margin: -9px 0 0 -8px;
  border: none;
}
.footer .comments {
  margin: 15px auto 0;
  width: 80%;
  max-width: 950px;
  padding-top: 40px;
}
.ipynb {
  padding: 0 !important;
}
.ipynb .text_cell_render {
  padding: 0;
  color: #333;
  font-size: 16px;
  line-height: 26px;
  text-align: justify;
  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
}
.ipynb .text_cell_render {
  color: #333;
  font-size: 16px;
  line-height: 26px;
  text-align: justify;
  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
}
