body, h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', Georgia, serif;
}

a {
    color: #0a8bc4;
}

a.tag {
    font-family: sans-serif;
    margin: 0 5px 0 0;
    padding: 4px 8px;
    text-transform: uppercase;
    color: #999;
    font-size: .8em;
    border: 1px solid #ddd;
    border-radius: 3px;
}

a.tag:hover {
    text-decoration: none;
    color: #fff;
    border-color: #666;
    background: #666;
}

a.read-more {
    font-family: sans-serif;
    font-size: .8em;
    float: right;
    text-transform: uppercase;
    padding: 4px 8px;
    color: #0a8bc4;
    border: 1px solid #0a8bc4;
    border-radius: 3px;
}

a.read-more:hover {
    color: #FFF;
    background-color: #0a8bc4;
    border-color: #0a8bc4;
    text-decoration: none;
}

.header {
    max-width: 620px;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 40px;

    h3.brand {
        margin: 14px 0 8px 0;

        a {
            color: #333;
        }

        a:hover {
            color: #333;
            text-decoration: underline;
        }
    }


    .nav {
        font-size: 20px;

        a {
            color: #333;
        }
    }
}

.index {
    max-width: 620px;

    article {
        line-height: 1.8em;

        h2 {
            font-size: 2em;
            font-weight: 700;
            line-height: 1.3em;

            a {
                font-family: 'Merriweather', Georgia, serif;
                color: #000;
            }

            a:hover {
                color: #0a8bc4;
                text-decoration: none;
            }
        }
    }

    .meta {
        font-family: sans-serif;
        font-size: 0.8em;
        display: -webkit-flex;

        time {
            margin: 0 10px 0 0;
            padding: 4px 8px 4px 2px;
            color: #999;

            a {
                color: #999;
            }
            a:hover {
                color: #999;
                text-decoration: underline;
            }
        }

        .left {
            width: 85%;
            display: inline-block;
        }

        .right {
            width: 15%;
            display: inline-block;
            text-align: right;

            a {
                margin-top: 15px;
            }
        }
    }

    .separator {
        font-size: 2.5em;
        text-align: center;
        color: #BBB;
        margin: 20px 0 50px 0;
        -webkit-font-smoothing: none;
    }

    .pagination {
        display: block;
        text-align: center;
        margin-bottom: 100px;
    }
}

.post {
    max-width: 750px;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.8;

    h1 {
        font-family: 'Merriweather', Georgia, serif;
        text-align: center;
        font-size: 2.55em;
        font-weight: 300;
    }

    .metadata {
        margin: 50px auto 50px;
        padding: 20px 0;
        font-family: sans-serif;
        font-size: 0.85em;
        border-top: 1px solid #ccc;

        div {
            width: 100%;
        }
    }

    img {
        max-width: 100%;
    }

    #disqus_thread {
        max-width: 100%;
    }
}

.list {
    max-width: 700px;

    // Archives and articles from a tag
    ul.double-list {
        margin: 0 auto 60px;
        padding: 0;
        list-style-type: none;

        li {
            padding: 5px 0;

            h2 {
                font-size: 0.9em;
                display: inline;
                font-weight: normal;
            }

            span {
                font-family: sans-serif;
                text-transform: uppercase;
                text-align: right;
                float: right;
                padding-top: 3px;
                font-size: 12px;
                color: #999;
            }
        }
    }

    // List of tags
    p.tags {
        line-height: 2;
        .tag {
            margin: 0 5px 5px 0;
        }
    }
}