// @import "fonts/segoeui.css";
// @import "fonts/proximanova.css";
// @import "fonts/adelle.css";
// @import "fonts/font-awesome.min.css";

body {
    width: 100%;
    height: 100%;
    color: #333;
    font-family: "proxima_nova_rgregular", Helvetica, Arial, sans-serif;
    margin: 0;
}

aside.fixed {
    position: fixed;
    height: 100%;
    width: 26%;
    max-width: 500px;
    background-color: #f3f3f3;

    .image {
        // background-size: cover;
        // background-position: center;
        background: #222 no-repeat;
        border-bottom: 1px solid #d2d2d2;
        width: 100%;
        height: 50%;
    }

    .cover-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
    }

    .body {
        font-size: 14px;

        a {
            color: #666;
            text-decoration: none;
        }

        p {
            margin: 3px;
        }

        .middle {
            padding: 10px 10% 0;
                    a:hover {
            text-decoration: underline;
        }
        }

        .bottom {
            position:absolute;
            margin: 0 10% 20px;
            bottom: 0;
            width: 100%;
            float: right;
        }
    }
}


.content {
    position: relative;
    margin-left: 26%;
    border-left: 1px solid #d2d2d2;
    min-height: 900px;

    p {
        width: 80%;
        max-width: 640px;
        padding-left: 50px;
        font-size: 16px;
        line-height: 26px;
        text-align: justify;
    }

    a {
        color: #307EA9;
        text-decoration: none !important;
    }

    a:hover {
        color: #000;
        text-decoration: none;
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: "adelleregular", Georgia, sans-serif;
        line-height: 40px;
        color: #444;
        font-weight: 200;
    }

    h1 {
        padding: 20px 20px 10px 25px;
        font-size: 34px;
        margin: 0;
    }

    h2 {
        background-color: #f8f8f8;
        border: 1px solid #d2d2d2;
        border-left: none;
        border-right: none;
        padding: 10px 10px 10px 25px;
        font-size: 28px;
    }

    h3 {
        background-color: #f8f8f8;
        border: 1px solid #d2d2d2;
        border-left: none;
        border-right: none;
        padding: 0px 10px 0px 25px;
        font-size: 20px;
    }

    ul, ol {
        padding-left: 80px;
        width: 80%;
        max-width: 640px;

        li {
            font-size: 16px;
            line-height: 26px;
        }
    }

    ul {
        list-style: square;
    }

    p.update {
        background-color: #ffde49;
        border-left: 5px solid #ffb702;
        padding: 7px 0 7px 25px;
        max-width: 665px;
    }
}

.index {
    article {
        header {
            h2 {
                margin-top: 0;
                font-size: 28px;
            }
        }

        a {
            color: #333;
        }
    }
}

.post {
    article {
        margin-bottom: 30px;
    }


    img {
        width: 100%;
        border: 1px solid #e1e1e8;
    }

    code {
        background-color: #f7f7f7;
        border: 1px solid #e1e1e1;
        padding: 2px 4px;
        font-size: 14px;
        white-space: nowrap;
        page-break-inside: avoid;
        word-wrap: break-word;
    }

    .codehilite {
        background-color: #f8f8f8;
        border: 1px solid #d2d2d2;
        border-right: none;
        border-left: 5px solid #307EA9;
        pre {
            padding: 7px;
            line-height: 16px;
            page-break-inside: avoid;
            word-wrap: break-word;
        }
    }

    .ipynb {
        .cell {
            max-width: 680px;
        }
    }

    .footer {
        border-top: 1px solid #d2d2d2;
        background: #f3f3f3;

        .social {
            margin: 0px auto;
            padding-top: 15px;
            width: 90%;
            max-width: 670px;
            max-width: 670px;

            .span3 {
                width: 23.404255319148934%;
                float: left;
            }

            .hn iframe {
                margin:-9px 0 0 -8px;
                border: none;
            }
        }

        .comments {
            margin: 15px auto 0;
            width: 80%;
            max-width: 950px;
            padding-top: 40px;
        }
    }
}

.page-list {
    ul {
        margin-left: 50px;
        padding: 0;

        li {
            list-style: none;
            padding: 7px 2px;
            border-bottom: 1px solid #eee;
            font-size: 15px;

            span {
                padding-top: 3px;
                float: right;
                text-transform: uppercase;
                font-size: 12px;
                color: #999;
            }
        }
    }
}