---
layout: default
---
<div id="content" class="post-single">
    {% if page.hero_image %}
        <div class="image-hero" style="background-image: url({{page.hero_image}});
            {% if page.hero_height %} height:{{page.hero_height}}; {% endif %}">
        </div>
    {% endif %}

    {% if page.youtubeID %}
        <div class="video-hero">
            <div class="container">
                <iframe width="100%" height="80%" src="http://www.youtube.com/embed/{{page.youtubeID}}?html5=1" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    {% endif %}

    {% if page.vimeoID %}
        <div class="video-hero">
            <div class="container">
                <iframe src="http://player.vimeo.com/video/{{page.vimeoID}}" width="100%" height="80%" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
            </div>
        </div>
    {% endif %}


    <div class="post container">
        <h1>{{ page.title }}</h1>
        <div class="date">{{ page.date | date: "%B %e, %Y" }}</div>
        {{ content }}
    </div>

    <div class='extra'>
        <div class='metadata container'>
            Categories: {{ page.categories | category_links  }}
        </div>

        <div class="post social container row-fluid">
            <div class="span3">
                <div class="fb-like" data-send="false" data-layout="button_count" data-show-faces="false"></div>
            </div>
            <div class="span3">
                <a href="https://twitter.com/share" class="twitter-share-button" data-via="danielfrg">Tweet</a>
            </div>

            <div class="span3">
                <div class="g-plusone" data-size="medium" data-annotation="bubble"></div>
            </div>

            <div class="span3 hn">
                <span id="hnews"></span>
            </div>
        </div>

        <div id="disqus_thread" class="comments container"></div>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    </div>

    <script src="/javascript/social.js"></script>
</div>
