{% extends "full-width.html" %}
{% block title %}{{ article.title }}{% endblock %}

{% block extra_css %}
    {% if article.ipython %}
        <link rel="stylesheet" href="/theme/css/ipython.min.css">
    {% endif %}
    {% if article.code %}
        <link rel="stylesheet" href="/theme/css/pygments.min.css">
    {% endif %}
{% endblock %}

{% block content %}
<section class="post">
    <div class="container">
        <header>
            <h1>{{ article.title }}</h1>
        </header>
        <div class='article'>
            {{ article.content }}
        </div>
        <div class='post-card'>
            <div class="metadata">
                {% if article.author %}
                <div class="author">
                    <strong>Written by: </strong>
                    <i><a href="{{ SITEURL }}/{{ article.author.url }}">{{ article.author }}</a></i>
                </div>
                {% endif %}
                <div class='data'>
                <strong>Published:</strong>
                <i><time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time></i>
                </div>
                <div class='category'>
                <strong>In:</strong>
                <i><a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a></i>
                </div>
                {% if article.tags %}
                <div class="tags">
                <strong>Tags:</strong> 
                {% for tag in article.tags %}<i><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a> </i>{% endfor %}
                </div>
                {% endif %}
            </div>

            <div class="nav">
                <ul>
                  <li><a href="/"><i class="icon-home"></i> home</a></li>
                  <li><a href="/about/"><i class="icon-user"></i> about</a></li>
                  <li><a href="/archives.html"><i class="icon-book"></i> archive</a></li>
                  <li><a href="https://twitter.com/danielfrg"><i class="icon-twitter"></i> @danielfrg</a></li>
                  <li><a href="https://github.com/danielfrg"><i class="icon-github-alt"></i> on github</a></li>
                  <li><a href="mailto:df.rodriguez143@gmail.com?Subject=Hello"><i class="icon-envelope-alt"></i> email</a></li>
                </ul>
            </div>
        </div>
    </div>

    <section class='footer'>
        <div class="post social container row-fluid">
            <div class="span3">
                <div class="fb-like" data-send="false" data-layout="button_count" data-show-faces="false"></div>
            </div>
            <div class="span3">
                <a href="https://twitter.com/share" class="twitter-share-button" data-via="danielfrg">Tweet</a>
            </div>

            <div class="span3">
                <div class="g-plusone" data-size="medium" data-annotation="bubble"></div>
            </div>

            <div class="span3 hn">
                <span id="hnews"></span>
            </div>
        </div>

        <div id="disqus_thread" class="comments container"></div>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    </section>
</section>

<script src="/theme/js/social.js"></script>
{% endblock %}
